services:
  app:
    build: .
    volumes:
      - .:/app
    ports:
      - "8080:8080"  # ホストの8080をコンテナの8080に繋ぐ
    tty: true
    stdin_open: true
    environment:
      - EDINET_API_KEY=${EDINET_API_KEY:-}